<div class="mt-6">
  <dl class="divide-y divide-primary">

	<%# Product Updates %>
    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">Product Updates?</dt>
      <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
        <span class="flex-grow">Yes</span>
        <span class="ml-4 flex-shrink-0">
          <button type="button" class="btn btn-primary btn-sm">Update</button>
        </span>
      </dd>
    </div>

	<%#  Weekly Newsletter %>
    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">Weekly Newsletter?</dt>
      <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
        <span class="flex-grow">Yes</span>
        <span class="ml-4 flex-shrink-0">
          <button type="button" class="btn btn-primary btn-sm">Update</button>
        </span>
      </dd>
    </div>

  </dl>
</div>