<div class="mt-6">
  <dl class="divide-y divide-primary">

	<%# EMAIL %>
    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">Email</dt>
      <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
        <span class="flex-grow"><%= current_user.email %></span>
        <span class="ml-4 flex-shrink-0">
          <button type="button" class="btn btn-primary btn-sm">Update</button>
        </span>
      </dd>
    </div>

	<%#  SUBSCRIPTION %>
    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
    	<dt class="text-sm font-medium leading-6 text-gray-900">Current Subscription Tier</dt>
    	<dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
			<span class="flex-grow">Basic</span>
	        <span class="ml-4 flex-shrink-0">
	        	<button type="button" class="btn btn-primary btn-sm">Update</button>
	        </span>
	    </dd>
    </div>

	<%#  DAY PASS %>
    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">Day Passes</dt>
      <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
        <span class="flex-grow">0</span>
        <span class="ml-4 flex-shrink-0">
          <button type="button" class="btn btn-primary btn-sm">Update</button>
        </span>
      </dd>
    </div>

	<%#  Tier Usage %>
    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">Usage</dt>
      <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
        <span class="flex-grow">
			<div class="flex flex-col">
				<div class="flex items-center space-x-2">
					<p>Custom Audiences:</p>
		        	<progress class="progress progress-primary w-56 bg-white" value="10" max="100"></progress>
					<p>1/10</p>
				</div>
		    	<div class="flex items-center space-x-2">
					<p>Conversation Searches:</p>
		        	<progress class="progress progress-primary w-56 bg-white" value="30" max="100"></progress>
					<p>3/10</p>
				</div>
				<div class="flex items-center space-x-2">
					<p>Keyword Tracking:</p>
		        	<progress class="progress progress-primary w-56 bg-white" value="60" max="100"></progress>
					<p>6/10</p>
				</div>
				<div class="flex items-center space-x-2">
					<p>AI Minutes:</p>
		        	<progress class="progress progress-primary w-56 bg-white" value="10" max="100"></progress>
					<p>1/10</p>
				</div>
			</div>
		</span>
      </dd>
    </div>

	

  </dl>
</div>